@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Syne";
}

html {
    background-color: #000000;
    color: white;
}

html,
body {
    height: 100%;
}

ul,li { 
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0;
}