@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
    padding: 0;
    margin: 0;
    font-family: "Karla";
}

html {
    background-color: #000000;
    color: white;
}

html,
body {
    height: 100%;
}

.footer{
    bottom: 0;
    left: 0;
    width: 100%;
  }