.calendar {
    margin-top: $x_2;
    margin-bottom: $x_2;
    min-height: 25vh;
    .list {
        @include siteWidth;
        .header {
            margin-top: 16px;
            font-size: 24px;
        }
        .item {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: left;
        }
        .date {
            font-family: 'Syne Mono', monospace;
        }
        .item > div {
            margin-right: $x_2;
        }
        li {
            list-style-type: none;
            list-style-position:inside;
            padding: 0;
            text-indent: -1em;
            margin-left: 1em;
            margin-top: 2px;
            margin-bottom: 2px;
        }
        &+.divider {
            margin-top: $x_5;
        }
    }
}