.player {
  margin-top: $x_2;
  @include siteWidth;
  .button {
      width: 2.5rem;
      height: 2.5rem;
      border: none;
      text-align: center;
      margin-right: 10px;
  }

  .button:hover {
      cursor: pointer;
  }

  .button svg {
      fill: black;
  }

  #mixcloud-embed {
      width: 100%;
      height: 120px;
  }

  .player-title {
      display: inline;
  }
}