.player {
  margin-top: $x_2;
  @include siteWidth;
  .button {
      width: 2.5rem;
      height: 2.5rem;
      border: none;
      text-align: center;
      float:left;
      margin-right: 10px;
  }

  .button:hover {
      cursor: pointer;
  }

  .button svg {
      fill: black;
  }
}