.player {
  left: 0;
  align-self: stretch;
}

.playerButton {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    text-align: center;
}

.playerButton:hover {
    cursor: pointer;
}

.playerButton svg {
    fill: black;
}